<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href= "{% url 'createlead' %}" >Home</a>
    </nav>
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="jumbotron">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
        <div class="col-4"></div>
        <div>
                    <h2>Date : {{lead.followupDate}}</h2>
                    <hr>
            <br>
                    <h2>Notes : {{lead.notes}}</h2>

 </div>
</div>
    </div>
    </div>
</div>
</body>
</html>
<style>
    body{
    background-color:#F9F9FA;
    }
